.subtitle {
  display: block;
  margin: 0;
  padding: 0;
  font-family: $font-subtitle;
  @include set-font(22px, 400, 60px, $color-text--subtitle);

// (60-22)/2=19

}



@media (min-width: $width-middle) {
  .subtitle {
    font-size: 26px;

    &--prime {
      font-size: 36px;
    }
  }
}

@media (min-width: $width-large) {
  .subtitle {
    font-size: 35px;

    &--prime {
      font-size: 41px;
    }
  }
}


