@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin set-font($size, $weight, $line-height, $font-color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $font-color;
}

@mixin pseudo-absolute($width, $height) {
  content: "";
  position: absolute;

  width: $width;
  height: $height;
}

@mixin inner {
  width: auto;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $width-middle) {
    padding: 0 20px;
  }
  @media (min-width: $width-large) {
    padding: 0 73px;
    max-width: 1220px;
  }
}

