body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  color: $color-text--main;
  background-color: $color-lightpink;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*:hover,
*:active,
*:focus {
  outline-color: $color-brightpink;
}

