
$font-main: "Circe", "Tahoma", sans-serif;
$font-title: "PlayfairDisplay", "Book Antiqua", "Times New Roman", serif;
$font-subtitle: "IntroScriptR-H2Base", "Arial", sans-serif;
$font-complementary: "Roboto", "Tahoma", sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-pink: #f77b91;
$color-brightpink: #f50049;
$color-lightpink: #fbebea;
$color-text--main: #2d2829;
$color-text--orderdesc: #2f2f2f;
$color-text--subtitle: #32313d;
$color-text--dropmenu: #383838;
$color-h1: #2e2829;
$color-shadow--2pink: rgba(255, 0, 67, 0.2);
$color-shadow--3pink: rgba(255, 0, 67, 0.3);
$color-shadow--darkpink: rgba(163, 6, 60, 0.1);
$color-shadow--lightgrey: rgba(0, 0, 0, 0.05);
$color-shadow--grey: rgba(0, 0, 0, 0.14);
$color-border--choise: #dddddd;
$color-border--decoration: #959595;
$color-border--form: rgba(0, 0, 0, 0.2);
$bg-dropmenu: #e7e7e7;
$bg-footer--desktop: #e8e8e8;
$bg-footer: #898989;

$width-middle: 768px;
$width-large: 1366px; // (template 1366px) content 1220px
$width-middle-max: 1365px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


